.container{
    text-align: center;
    margin-top: 10px;
}

.header--title{
    font-family: 'Lora', serif;   
     font-size: 50px;
    cursor: pointer;
    color: rgb(232, 175, 99);
}

.header--para{
    font-family: 'Explora', cursive;
    font-style: italic;
    font-size: 14.9px;
    color: rgb(56, 46, 46);
}